# --- Django ---
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env
.python-version
linux-venv/

# --- IDEs & Editors ---
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# --- Docker ---
.docker-metadata/
# Ignore actual DB data if you ever mount volumes locally
pgdata/
redisdata/

# --- Environment Secrets ---
secrets.py
.env.local
.env.dev
.env.prod

# --- Distributions / Packaging ---
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/

# --- Testing ---
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
htmlcov/
.pytest_cache/