
.env
.venv
env/
venv/
ENV/
linux-venv/


.python-version
pip-log.txt
pip-delete-this-directory.txt


__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
htmlcov/
.mypy_cache/
.ruff_cache/
.pyre/


.kube/
kubeconfig
*.p12
*.pem
charts/
Chart.lock
/deploy/local_overrides.yaml
kubectl/
Backend/minikube-linux-amd64


.qodo/
.ipynb_checkpoints
# If you use Jupyter notebooks
.jupyter


node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache


.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json

Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

psql-data/
redisdata/
media/
staticfiles/

# --- Binaries & System Tools ---
Backend/kubectl
Backend/minikube-linux-amd64
Backend/deploy/get_helm.sh

# --- Python ---
**/__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env
.python-version

# --- Frontend (Node) ---
Frontend/node_modules/
Frontend/dist/
Frontend/.eslintcache
*.log

# --- Kubernetes/Local Data ---
psql-data/
.kube/

# --- IDEs ---
.vscode/
.idea/
.DS_Store
# Local binaries
Backend/kubectl
Backend/minikube-linux-amd64
