apiVersion: v1
kind: Service
metadata:
  name: psql-service
spec:
  clusterIP: None
  selector:
    app: psql
  ports:
  - port: 5432
    targetPort: 5432

---
apiVersion: v1
kind: Service
metadata:
  name: redis-service
spec:
  ports:
  - port: 6379
  selector:
    app: redis
---
apiVersion: v1
kind: Service
metadata:
  name: expense-tracker-service
  labels:
    app: expense-tracker
spec:
  type: LoadBalancer
  ports:
  - name: web-metrics
    port: 8000
    targetPort: 8000
  selector:
    app: expense-tracker
