name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  python-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./Backend/requirements.txt
          pip install flake8

      - name: Lint with flake8
        run: |
          flake8 Backend --count --select=E9,F63,F7,F82 --show-source --statistics

  kubernetes-check:
    needs: python-ci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install kubectl
        uses: azure/setup-kubectl@v3

      - name: Validate Kubernetes Manifests
        run: |
          kubectl create --dry-run=client --validate=false -f ./Backend/deploy/


