name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  python-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./Backend/requirements.txt
          pip install flake8

      - name: Lint with flake8
        run: |
          flake8 Backend --count --select=E9,F63,F7,F82 --show-source --statistics

  kubernetes-check:
    needs: python-ci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install kubeconform
        run: |
          curl -L https://github.com/yannh/kubeconform/releases/latest/download/kubeconform-linux-amd64.tar.gz \
          | tar xz
          sudo mv kubeconform /usr/local/bin/kubeconform

      - name: Validate Kubernetes Manifests
        run: |
          kubeconform -strict -summary ./Backend/deploy/
